
@{
    ViewBag.Title = "Users Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <v-app>
        <v-main>
            <v-container>

                <v-col cols="12" :Style="{marginTop: '30px'}">
                </v-col>
                <v-row>

                    <v-col md="3">
                        <v-text-field label="Buscar ciudad" v-model="city"></v-text-field>
                        <v-btn @@click="getWeather()">Aplicar</v-btn>
                    </v-col>
                    <v-col md="9">
                        <label>{{city}}</label>
                        <h3>{{temp}}</h3>
                    </v-col>

                    <!-- load file -->
                    <v-col cols="12">
                        <template>
                            <v-file-input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                          placeholder="File input only xls load"
                                          prepend-icon="mdi-paperclip"
                                          label="Seleccionar archivo"
                                          counter
                                          show-size
                                          truncate-length="34"
                                          v-model="file"
                                          @@change="onChangeFile"></v-file-input>
                        </template>
                    </v-col>

                    <!-- summary -->
                    <v-row :style="{display: showDiv}">
                        <v-alert dense
                                 type="success">Mejor promedio: {{highestRating}}</v-alert>

                        <v-alert color="red"
                                 dense
                                 type="error">Peor promedio: {{lowestRating}}</v-alert>
                        <v-alert color="blue"
                                 dense
                                 type="info">Promedio General: {{average}}</v-alert>
                    </v-row>

                    <!-- chart -->
                    <v-col cols="12" :style="{width:'100%', display: showDiv}">
                        <canvas id="myChart" style="width:100%; min-height:450px"></canvas>
                    </v-col>

                    <v-col col="12" :style="{display: showDiv}">
                        <!--Open dialog-->
                        <v-btn color="primary"
                               class="ma-2"
                               dark
                               @@click="dialog = true">
                            Cambiar clave
                        </v-btn>
                        <v-dialog v-model="dialog"
                                  max-width="500px">
                            <v-card>
                                <v-card-title>
                                    Cambiar Clave
                                </v-card-title>
                                <v-card-text>
                                    <v-text-field v-model="iteracion"
                                                  label="Numero de iteraciones a recorrer"></v-text-field>
                                </v-card-text>
                                <v-card-actions>

                                    <v-btn color="primary"
                                           text
                                           @@click="dialog = false">
                                        Cerrar
                                    </v-btn>
                                    <v-btn color="primary"
                                           text
                                           @@click="changeCode">
                                        Aplicar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                        <!-- List-->
                        <v-card>
                            <v-card-title>
                                <v-text-field v-model="search"
                                              append-icon="mdi-magnify"
                                              label="Buscar"
                                              single-line
                                              hide-details></v-text-field>
                            </v-card-title>
                            <v-data-table :headers="headers"
                                          :items="users"
                                          :search="search"></v-data-table>
                        </v-card>
                    </v-col>


                </v-row>
            </v-container>
        </v-main>

    </v-app>
</div>

@section scripts{
    <script src="~/Scripts/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.url = window.location.origin + "@Href("~/")";
    </script>
    <script src="~/Scripts/index-vue.js"></script>
}